---
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title={'Home'}>
  <main role="main" class="mx-auto max-w-5xl">
    <Heading>Astro</Heading>
  </main>
</Layout>
