---
import Badge from "../components/Badge.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

const posts = (await Astro.glob('../pages/posts/*.{md,mdx}')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<Layout
  title={'Blog'}
  description="This is where I share my knowledge of technology"
>
  <Main>
    <Heading className={'pt-10'}>All Posts</Heading>
    <div class="container pt-5">
      { posts.map((post) => (
      <div class="pt-5">
        <h2 class="font-rubik font-bold">
          {post.frontmatter.title}
          {post.frontmatter.draft && (
            <Badge>DRAFT</Badge>
          )}
        </h2>
        <p class="my-2 text-justify">{post.frontmatter.description}</p>
        <Link href={post.url}>Read more...</Link>
      </div>
      ))}
    </div>
  </Main>

</Layout>


