---
import Header from "../components/Header.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";
import Main from "../components/Main.astro";
import Navbar from "../components/Navbar.astro";
import Paragraph from "../components/Paragraph.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob('../pages/posts/*.{md,mdx}');
---

<Layout
  title={'Blog'}
  description="This is where I share my knowledge of technology"
>
  <Header><Navbar /></Header>

  <Main>
    <Heading className={'pt-10'}>All Posts</Heading>
    <div class="container pt-5">
      { posts.map((post) => (
      <div class="pt-5">
        <h2 class="font-rubik font-bold">{post.frontmatter.title}</h2>
        <p class="my-2 text-justify">{post.frontmatter.description}</p>
        <Link href={post.url}>Read more...</Link>
      </div>
      ))}
    </div>
  </Main>

</Layout>


