---
import { formatPosts } from "../utils";
import { getCollection, CollectionEntry } from "astro:content";
import Heading from "../components/Heading.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import GridItem from "../components/GridItem.astro";

const projects = await getCollection("projects");
const formated: CollectionEntry<"projects">[] = formatPosts(projects);
---

<Layout title={'Projects'} description="Here you can find all my projects">
  <Main>
    <Heading className={'pt-10'}>Projects</Heading>
    <Grid>
      { formated.map((project) => (
      <GridItem
        title={project.data.title}
        src={project.data.image}
        href={`/projects/${project.slug}`}
      >
        {project.data.description}
      </GridItem>
      ))}
    </Grid>
  </Main>

</Layout>

