---
import { Icon } from "astro-icon";
---

<a class="flex items-center justify-center" href="/">
  <Icon name="brand" width="48" height="48" />
  <h2 class="hidden md:inline-flex font-rubik font-bold text-xl">
    <slot />
  </h2>
</a>
