---
import { Icon } from "astro-icon";
---

<a id="brand" class="group flex items-center justify-center" href="/">
  <Icon class="md:pb-2" name="brand" width="48" height="48" />
  <h2
    class="hidden tracking-tighter md:inline-flex font-rubik font-bold text-xl"
  >
    <slot />
  </h2>
</a>
