---
export interface Props {
  className?: string
}

const { className = '' } = Astro.props as Props;
---

<h1
  class={`font-rubik text-2xl font-bold underline underline-offset-8 decoration-4 decoration-gray-500 ${className}`}
>
  <slot />
</h1>

