---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<a
  class="no-underline hover:underline text-emerald-700 hover:text-emerald-900 dark:text-emerald-300 dark:hover:text-emerald-500"
  href={href}
>
  <slot />
</a>


