---
import Link from "./Link.astro";
import { Icon } from "astro-icon";

export interface Props {
  href: string;
  icon?: string;
  isButton?: boolean;
  className?: string;
}

const {
  href,
  icon = 'ic:baseline-circle',
  isButton = false,
  className = ''
} = Astro.props as Props;
---

<div class={`flex ${className}`}>
{ icon && (
  <div class="mr-2">
    <Icon name={icon} height="24" width="24" />
  </div>
  )
}

  <div class="flex-shrink-0">
    <Link {href}><slot /></Link>
  </div>
</div>

