---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string;
}

const {
  href,
  class: className="no-underline hover:underline p-2 transition-all duration-300",
  ...props
} = Astro.props as Props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '')
---
<li class="flex items-center justify-center">
  <a
    class:list={[className, {active: isActive}]}
    {href}
    {...props}
  >
    <slot />
  </a>
</li>

<style>
a.active {
  @apply bg-teal-500 rounded-lg text-black;
}
</style>
