---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---
<li class="flex items-center justify-center">
  <a
    class="no-underline hover:underline p-2 transition-all"
    {href}
  >
    <slot />
  </a>
</li>
