---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---
<li class="flex items-center justify-center">
  <a
    class="no-underline hover:bg-emerald-800 hover:text-emerald-50 hover:rounded-lg p-2 transition-all"
    {href}
  >
    <slot />
  </a>
</li>
