---
import Body from '@components/Body.astro';
import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Navbar from '@components/Navbar.astro';

export interface Props {
  image?: string;
  title?: string;
  description?: string;
}

const { image, title, description } = Astro.props as Props;
---
<html lang="en">
  <Head {title} {description} {image} />
	<Body>
    <Header>
      <Navbar />
    </Header>

		<slot />

    <Footer />
	</Body>
</html>

