---
import Body from '../components/Body.astro';
import Head from '../components/Head.astro';

export interface Props {
  image?: string;
  title?: string;
  description?: string;
}

const { image, title, description } = Astro.props as Props;
---
<html lang="en">
  <Head {title} {description} {image} />
	<Body>
		<slot />
	</Body>
</html>

